@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /* Light Mode */
  /* --primary: #4882e2;
  --bg: #f8f9fa;
  --text: #212529;
  --card-bg: #ffffff;
  --card-bg-hover: #f1f3f5;
  --border: #dee2e6; */

  /* Dark Mode */
  --primary: #f8f9fa;
  --secondary: ##cad5f4;
  /* --bg: #163892; */
  --bg: linear-gradient(200deg, #658ed9 0%, #194185 100%);
  --btn-text-color: #163892;
  --text: #ffffff;
  --card-bg: #334251;
  --card-bg-hover: #2c3034;
  --border: #dee2e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
}

body {
  background: var(--bg);
  background-attachment: fixed;
  color: var(--text);
  display: flex;
  justify-content: center;

  margin: 0; /* Remove a margem padrão que causa o scroll */
  padding: 0;
  height: 100vh; /* Altura total da janela */
  width: 100vw; /* Largura total da janela */
  overflow: hidden; /* Impede qualquer scroll no corpo principal */

  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 920px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  background: var(--card-bg);
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  /* border: 1px solid var(--border); */
}

#loginSection {
  max-width: 500px;
  min-width: 500px;
}

.btn-login {
  margin-top: 12px;
  text-transform: uppercase;
  font-weight: 600;

  max-width: 260px;
  min-width: 260px;
  align-self: center;
}

h2,
h3 {
  color: var(--primary);
  margin-top: 0;
}

.title span {
  font-weight: 600;
  color: var(--secondary);
}

input {
  /* width: 100%; */
  padding: 12px;
  margin: 8px 0;
  border: 1px solid var(--border);
  border-radius: 8px;
  outline: none;
  transition: border 0.2s;
}

input:focus {
  border-color: var(--primary);
}

button {
  background: var(--primary);
  color: var(--btn-text-color);
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
}

button:hover {
  color: var(--primary);
  background: var(--btn-text-color);
  filter: brightness(1.1);
  transition: all 0.3s;
}

.btn-save {
  margin-top: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.password-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  max-width: 445px;
  min-width: 445px;
  transition: background 0.2s;
}

.password-item:hover {
  background-color: var(--card-bg-hover);
}

.url-text {
  color: #aaa9a9;
  font-size: 0.9em;
}

.actions {
  display: flex;
  gap: 8px; /* Espaço entre os ícones */
}

.btn-icon {
  background: #e9ecef;
  color: #398fe6;
  border: none;
  width: 38px;
  height: 38px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-icon:hover {
  background: #ffffff;
  color: #075eeb;
}

.btn-delete {
  background: #fff5f5 !important;
  color: #fa5252 !important;
}

.btn-delete:hover {
  background: #ffe3e3 !important;
  color: #d40e0e !important;
}

.btn-icon i {
  font-size: 1.1rem; /* Tamanho do ícone */
}

/* NEW */

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.header h2 {
  padding: 0;
  margin: 0;
}

.logo {
  width: 40px;
  height: auto;
}

#passwordListSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#passwordList {
  max-height: 285px;
  min-height: 285px;
  overflow-y: auto;

  /* box-shadow: 8px 3px 12px rgb(0 0 0 / 48%); */
  border-radius: 10px;
}

#mainSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.add-password-section {
  min-width: 410px;
  flex: 1;
}

.password-item {
  margin-right: 8px;
}

.actions {
  margin-left: 8px;
}

.info span,
small {
  display: inline-block;
  max-width: 16ch; /* 'ch' é uma unidade baseada no caractere '0' */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Adiciona os ... */
  vertical-align: bottom;
}

#toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #ff4757; /* Cor de erro */
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#toast.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/* Modal */

.modal-overlay {
  display: none; /* Escondido por padrão */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  z-index: 2000;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: var(--card-bg);
  padding: 24px;
  border-radius: 12px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  border: 1px solid var(--border);
}

.modal-actions {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.btn-light {
  background: #6c757d;
  color: white;
}
.btn-danger {
  background: #ff4757;
  color: white;
}
